<footer class="front-end-footer bg-black">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>&{'index.organized'} </h4>
					<div class="m-top-md">
						<span>
							${event.organization}
						</span>
						<br>
						<address>
							${event.address}
						</address>
						<br>					
						<strong>
							<span class="theme-font">${event.contact}</span>
						</strong>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-md-6 ">
					<h4>&{'index.countdown'}</h4>
						%{
					 		if (event.end.after(new Date())){
					 			
								out.print('<h3 id="countdown" class="text-upper no-m-top"></h3>');
							}else{
								out.print('<h1>ENCERRRADO</h1>');
							}
						}%

					
					
					<!-- <ul class="photo-list m-top-md">
						<li>
							<a href="#">
								<img src="@{'/public/img/default.jpg'}" alt="">
							</a>
						</li>
					</ul>
					-->
				</div>
				<!-- ./col -->
			</div>
			<!-- ./row -->
		</div>
		<!-- ./container -->
</footer>
	
	