
<div class="row">
	#{field 'track.type'}
	<div class="col-md-3  mb-4">
        	<label  for="${field.name}" >&{'track.type'}</label>
		    #{select field.name, class:"form-control", value:field.value, id:"track.type" }
				
				#{list items:tktypes, as:'t'}
					#{option t}
						${t.name}
					#{/option}
				#{/list}
			#{/select}
     </div>
     #{/field}
     
     #{field 'track.name'}
	<div class="col-md-3  mb-8">
		<label for="${field.name}">&{'track.name'}</label> <input
			type="text" id="${field.name}" name="${field.name}"
			value="${field.value}" class="form-control"
			placeholder="&{'track.name'}" required 
			minlength="0" maxlength="150">
		<div class="help-inline ${errors.forKey(field.name)?'alert-danger':''}">
			${errors.forKey(field.name)}
		</div>
	</div>
	#{/field}
     
	
	#{field 'track.order'}
	<div class="col-md-3  mb-4">
        	<label  for="${field.name}" >&{'track.privacy'}</label>
		    #{select field.name, class:"form-control", value:field.value, id:"track.privacy" }
				#{option 1}&{'track.order.first'}#{/option}
				#{option 2}&{'track.order.second'}#{/option}
				#{option 3}&{'track.order.third'}#{/option}
			#{/select}
     </div>
     #{/field}
     
     #{field 'track.prior.id'}
	<div class="col-md-3  mb-4">
        	<label  for="${field.name}" >&{'track.prior'}</label>
		    #{select field.name, class:"form-control", value:field.value, id:"track.prior" }
				#{option null}
					
				#{/option}
				#{list items:tracks, as:'t'}
					#{if t.id != track.id}
						#{option t.id}
							${t.name} - 
							#{if t.order ==1}
								&{'track.order.first'}
							#{/if}
							#{elseif t.order ==2}
								&{'track.order.second'}
							#{/elseif}
							#{elseif t.order ==3}
								&{'track.order.third'}
							#{/elseif}
							#{else}
								${track.order}º
							#{/else}
						#{/option}
					#{/if}
				#{/list}
			#{/select}
     </div>
    #{/field}
	

	
</div>

<div class="row">

	#{field 'track.start'}
	<div class="col-md-3 mb-4">
		<label class="control-label">&{'track.start'}</label>
		<div class="input-group">
			<input type="date" value="${field.value}" id="${field.name}" 
				name="${field.name}" class="form-control" required> 
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<div class="help-inline ${errors.forKey(field.name)?'alert-danger':''}">
			${errors.forKey(field.name)}
		</div>
	</div>
	#{/field}
	
	#{field 'track.end'}
	<div class="col-md-3 mb-4">
		<label class="control-label">&{'track.end'}</label>
		<div class="input-group">
			<input type="date" value="${field.value}" id="${field.name}"
				 name="${field.name}" class="form-control">
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
		<div class="help-inline ${errors.forKey(field.name)?'alert-danger':''}">
			${errors.forKey(field.name)}
		</div>
	</div>
	#{/field}
	#{field 'track.minEvaluations'}
	<div class="col-md-2  mb-4">
		<label for="${field.name}">&{'track.minEvaluations'}</label> <input
			type="number" id="${field.name}" name="${field.name}"
			value="${field.value}" class="form-control" min="1"
			placeholder="&{'track.minEvaluations'}" required >
		<div class="help-inline ${errors.forKey(field.name)?'alert-danger':''}">
			${errors.forKey(field.name)}
		</div>
	</div>
	#{/field}
	
	#{field 'track.calcType'}
	<div class="col-md-2  mb-4">
        	<label  for="${field.name}" >&{'track.calcType'}</label>
		    #{select field.name, class:"form-control", value:field.value, id:"track.calcType" }
				#{list items:calcTypes, as:'c'}
					#{option c} ${c.name} #{/option}
				#{/list}
			#{/select}
     </div>
     #{/field}
     
     #{field 'track.status'}
	<div class="col-md-2 mb-4">
		<label  for="${field.name}" >&{'track.status'}</label>
		 #{select field.name, class:"form-control", value:field.value, id:"track.status" }
				#{list items:tkStatus, as:'s'}
					#{option s} ${s.name} #{/option}
				#{/list}
		#{/select}
	</div>
	#{/field}
</div>

<div class="row">
	#{field 'track.guidelines'}
	<div class="col-md-12  mb-4">
		<label for="${field.name}">&{'track.guidelines'}</label> 
		
		<textarea id="guidelines" name="${field.name}"  rows="10"
			 class="form-control" >${field.value}</textarea>
		<div class="help-inline ${errors.forKey(field.name)?'alert-danger':''}">
			${errors.forKey(field.name)}
		</div>
	</div>
	#{/field}
</div>


<script>
	$(function(){
		 $('#guidelines').summernote({
			 airMode: true,
			 popover: {
			 	air: [
				    // [groupName, [list of button]]
				    ['style', ['bold', 'italic', 'underline', 'clear']],
				    ['fontsize', ['fontsize']],
				    ['color', ['color']],
				    ['insert', ['link']],
				    ['para', ['ul', 'ol', 'paragraph']],
				  ]
			 }
		 });
	});
	
</script>

