#{extends 'template/layout.html' /}

#{set 'title'}
    &{'paper.edit'}
#{/set}

#{set 'panel-title'}
    &{'paper.edit'}
#{/set}

#{if flash.error}
    <div class="alert alert-danger alert-dismissible" role="alert">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">
            	<i class="fa fa-times-circle"></i>
            </span>
        </button>                   
		${messages.get(flash.error)}
	</div>
#{/if}


#{form @Attendees.savePaper(), method:'POST', class: 'form-horizontal', id:"editPaper", enctype:'multipart/form-data'} 
    #{include 'template/paper/form.html' /}
   
    <input type='hidden' name="paper.uuid" value="${paper.uuid}">

    <div class="control-group form-actions">
    	<div class="row">
        	<div class="col-md-12 mb-4">
            	#{btSave /}
	    	
      			#{btCancel url:@Attendees.listMyPapers()/}
        	</div>
    	</div>
    </div>
#{/form}    

<script>
$(function(){
	$("#submitPaper").on("click",function(){
		var areaId = $("#area-id").val();
		if(areaId != ""){
				$("<input />").attr("type", "hidden")
          		.attr("name", "paper.status")
          		.attr("value", "SUBMITTED")
          		.appendTo("#editPaper");
				$("#editPaper").submit();
		}else{
				alert("Informe a área da proposta.")	
			}
	});
});
</script>