#{extends 'template/layout.html' /}
#{set 'title'}
    &{'cpanel.menu.myprofile'}
#{/set}

#{set 'panel-title'}
    &{'cpanel.menu.myprofile'}
#{/set}

<div class="row">
		#{include 'template/user/detail.html' /}
		
		#{if ulogado.uuid.toString().equals(session.get('userid'))}
		<div class="control-group form-actions marginTB-xs">
    		<div class="row text-right">
      	  		<div class="col-md-4 mb-4">
        			<div class="m-top-sm text-centers">
						<a  target="_blank" class="btn btn-info btn btn-lg  btn-block" 
						href="@{Attendees.myBadge()}">
							<i class="fa fa-print m-right-xs"></i>
							&{'button.cracha'}
						</a>
					</div>
        		</div>
        		<div class="col-md-4 mb-4">
        			<div class="m-top-sm text-centers">
						<a class="btn btn-danger btn btn-lg  btn-block"  href="#formInModal" data-toggle="modal">
							<i class="fa fa-key m-right-xs"></i>
							&{'button.password'}
						</a>
					</div>
				</div>
        		
        		<div class="col-md-4 mb-4">
        			#{btEdit url:'editmyprofile' /}
	       		</div>
			</div>
		</div>
		#{/if}
	</div>
</div>

<!-- Small modal -->
<div class="modal fade" id="formInModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">&{'user.changepassword'}</h4>
		    </div>
			<div class="modal-body">
		    	#{form @Attendees.saveMyPassword(), method:'POST', class:'form-horizontal', id:'formPassword', name:'formPassword'} 
					#{field 'user.uuid'} 
						<input type="hidden" id="${field.name}" name="${field.name}" value="${ulogado.uuid}" />
					#{/field} 
					#{field 'user.password'}
					<div class="control-group">
						<p>
							<label for="${field.name}" class="sr-only">&{'user.newpassword'}</label>
							<input type="password" id="${field.name}" name="${field.name}"
								class="form-control" minlength="6"
								maxlength="12" placeholder="&{'user.newpassword'}" required>
							<div class="help-inline ${errors.forKey(field.name)?'error':''}">
								${errors.forKey(field.name)}
							</div>
						</p>
					</div>
					#{/field} 
					#{field 'user.pwConfirmation'}
					<div class="control-group">
						<p>
							<label for="${field.name}" class="sr-only">&{'user.passwordConfirmation'}</label>
							<input type="password" id="${field.name}" name="${field.name}"
								class="form-control" minlength="6"
								maxlength="12" placeholder="&{'user.pwConfirmation'}" required>
							<div class="help-inline ${errors.forKey(field.name)?'error':''}">
									${errors.forKey(field.name)}
							</div>
						</p>
					</div>
					#{/field}
				    <button type="submit" class="btn btn-primary btn-sm btn-block">Enviar</button>
				#{/form} 
		    </div>
		</div>
	</div>
</div>

#{set 'moreScripts'}

<script type = "text/javascript" >
  $('#formPassword').on('submit', function() {
	   var $this = $(this);
	   console.log($this);
	   $.ajax({
	     url: '@{Attendees.saveMyPassword()}',
	     data: $this.serialize(),
	     type: 'POST'
		}).always(function(data) {
			$("#formInModal").modal('hide');
			$('#formPassword')[0].reset();
			alert(data.responseText);
		});
	   return false;
	});
</script>

#{/set}

