<!-- MENUS ADMIN -->
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> 
		<i class=" lnr lnr-cog"></i> 
		<span>&{'cpanel.menu.admin'}</span>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="@{Administrators.listEvents()}">
				<i class="lnr lnr-star"></i>
				<span>&{'cpanel.menu.events'}</span>
			</a>
		</li>
		<li>
			<a href="@{Administrators.listActivities(eventid)}">
				<i class="lnr lnr-list"></i>
				<span>&{'cpanel.menu.activies'}</span>
			</a>
		</li>
		<li>
			<a href="@{Administrators.listUsers()}">
				<i class="lnr lnr-users"></i>
				<span>&{'cpanel.menu.users'}</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="lnr lnr-checkmark-circle"></i>
				<span>&{'cpanel.menu.evalutions'}</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="lnr lnr-layers"></i>
				<span>&{'cpanel.menu.papers'}</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="lnr lnr-graduation-hat"></i>
				<span>&{'cpanel.menu.expertise'}</span>
			</a>
		</li>
	</ul>
</li>

<!-- MENUS ATTENDANT -->
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> 
		<i class=" lnr lnr-screen"></i> 
		<span>&{'cpanel.menu.attendant'}</span>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="#">
				<i class="lnr lnr-printer"></i>
				<span>&{'cpanel.menu.badge'}</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="lnr lnr-select"></i>
				<span>&{'cpanel.menu.attendance'}</span>
			</a>
		</li>
	</ul>
</li>