<div class="mypanel-list clearfix">
	<ul class="myflex">
	#{list items:_list, as:'a'}
    	<li class="item-flex">
			<div class="panel panel-default clearfix">
				<div class="mypanel-body">
					<div class="mypanel-wrapper">
						<div class="mypanel-avatar">
							<div class="small-img img-circle activity-tag" style="background: ${a.type.color} !important">
								%{
								out.print(a.type.name.charAt(0))
								}%
							</div>
						</div>
						<div class="mypanel-detail small-img">
							<div class="font-16">
							#{if _perm.equals("ADMIN")}
							<a href="javascript:void(0)" onclick="showActivity(${a.uuid});" class="font-16" data-toggle="modal" data-target="#detailActivity">
								${a.title}
							</a>
							#{/if}
							#{else}
								<a href="@{Application.detailActivity(a.uuid)}">${a.title}</a>
							#{/else}
							</div>
							<div>	
							<small>							
									&{'activity.ch'}:
									${a.numMinutes} &{'activity.numMinutes.min'}
									
									#{if a.limited}
										&{'activity.limited.true'}
									#{/if}
									#{else} 
										&{'activity.limited.false'}
									#{/else}	
									
							</small>
							</div>
							<div>
							&{'activity.users'}:
							#{list items:a.facilitators, as:'af'}
								<small>${af}.</small>
							#{/list}
							</div>
							<div class="m-top-sm m-bottom-sm btn-group">
								#{if session.get("userid") !=null }
									#{if a.hasInscription(session.get('userid').toLong())}
										<a href="@{Attendees.unsubscribe(a.uuid)}" class="btn btn-danger btn-sm marginTB-xs">&{'inscription.unsubscribe'}</a>										
									#{/if}
									#{elseif a.status.toString().equals("OPENED")}
										<a href="@{Attendees.subscribe(a.uuid)}" class="btn btn-info btn-sm marginTB-xs">&{'inscription.subscribe'}</a>
                     				#{/elseif}
                     				#{else}
                    						<button type="button" class="btn btn-default btn-sm marginTB-xs" disabled="" data-toggle="modal">${a.status.name}</button>
                    				#{/else}
                    				#{if _perm.equals("ADMIN")}
										#{btSmallEdit url:@Administrators.editActivity(a.uuid) /}
                     				#{/if}
                     			#{/if}	
							</div>
						</div>
					</div><!-- ./user-wrapper -->
				</div>
			</div>
		</li>
	#{/list}
	</ul>
</div>


<div class="modal fade" id="detailActivity" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
			    	<span aria-hidden="true">x</span>
			    	<span class="sr-only">&{'button.close'}</span>
			    </button>
			    <h4 class="modal-title">
			    	&{'activity.detail'}
			    </h4>
			</div>
			<div class="modal-body">
				<h4><span id="titulo"></span></h4>
				
				<div class="row mb-4">
					<div class="col-md-9 ">
						<strong>&{'activity.mainGoal'}</strong>
						<div id="objetivo" class="txthtml"></div>
					</div>
				</div>
				
				<div class="row mb-4">
					<div class="col-md-12 ">
						<strong>&{'activity.description'}</strong>
						<div id="descricao" class="txthtml"></div>
					</div>
				</div>
				
				<div class="row mb-4">
					<div class="col-md-8 ">
						<strong>&{'activity.type'}</strong>
						<div id="tipo" class="txthtml"></div>
					</div>
					<div class="col-md-4 ">
						<strong>&{'activity.startInscription'}</strong>
						<div id="inscricoes" class="txthtml"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-primary" data-dismiss="modal">&{'button.close'}</button>
			</div>
		</div>
	</div>
</div>

<script>
	function showActivity(id){
		$.ajax({
		    url: '/expotecsc/detail/activity/'+id,
		    type: 'GET'
		}).done(function(data) {
			console.log()
			$("#titulo").html(data[0]);
			$("#objetivo").html(data[1]);
			$("#descricao").html(data[2]);
			$("#tipo").html(data[3]);
			$("#inscricoes").html(data[4]);
		});
	}
</script>