<div class="mypanel-list clearfix">
	<ul class="myflex">
	#{list items:_list, as:'a'}
    	<li class="item-flex">
			<div class="panel panel-default clearfix">
				<div class="mypanel-body">
					<div class="mypanel-wrapper">
						<div class="mypanel-avatar">
							<div class="small-img img-circle activity-tag" style="background: ${a.type.color} !important">
								%{
								out.print(a.type.name.charAt(0))
								}%
							</div>
						</div>
						<div class="mypanel-detail small-img">
							<div class="font-16">${a.title}</div>
							<div>	
							<small>							
									#{if a.limited}
										&{'activity.limited.true'}
									#{/if}
									#{else} 
										&{'activity.limited.false'}
									#{/else}	
									
									${a.numMinutes} &{'activity.numMinutes.min'}
							</small>
							</div>
							<div>
							&{'activity.users'}:
							#{list items:a.facilitators, as:'af'}
								<small>${af}.</small>
							#{/list}
							</div>
							<div class="m-top-sm m-bottom-sm">
								#{if session.get("userid") !=null}
									#{if a.status.toString().equals("Aberta")}
										<button type="button" class="btn btn-info btn-sm marginTB-xs" data-toggle="modal">&{'inscription.subscribe'}</button>	
                     				#{/if}
                    				#{else}
                    					<button type="button" class="btn btn-default btn-sm marginTB-xs" disabled="" data-toggle="modal">${a.status.name}</button>
                    				#{/else}
                    				#{if _perm.equals("ADMIN")}
										#{btSmallEdit url:@Administrators.editActivity(a.uuid) /}
                     				#{/if}
                     			#{/if}	
							</div>
						</div>
					</div><!-- ./user-wrapper -->
				</div>
			</div>
		</li>
	#{/list}
	</ul>
</div>
