#{extends 'template/layout.html' /}
#{set 'title'}
   &{'activitytype.edit'}
#{/set}

#{set 'panel-title'}
    &{'activitytype.edit'}
#{/set}


%{ 
	userid= session.get('userid');
	eventid= session.get('eventid');
	permission = ulogado.permission.toString();
}%


#{if flash.error}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">
            	<i class="fa fa-times-circle"></i>
        	</span>
		</button>
    	${messages.get(flash.error)}
	</div>
#{/if}

#{form @Administrators.saveActType(),method:'POST', class: 'form-horizontal', enctype:'multipart/form-data'} 
    #{include 'template/activitytype/form.html' /}
    <input type='hidden' name="activitytype.id" value="${activitytype.id}">
    
   <div class="control-group form-actions">
    	<div class="row">
        	<div class="col-md-12 mb-4 text-right">
            	#{btSave /}
	    	
	    	
      			#{btCancel url:@Administrators.listActivityTypes()/}
        	</div>
    	</div>
    </div>
#{/form}



#{set 'moreScripts'}

<script>
	$(function(){
	});
	
</script>
#{/set}


