#{extends 'template/layout.html' /}
#{set 'title'}
   &{'event.edit'}
#{/set}

#{set 'panel-title'}
    &{'user.edit'}
#{/set}


%{ 
	userid= session.get('userid');
	eventid= session.get('eventid');
	permission = user.permission.toString();
}%


#{if flash.error}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">
            	<i class="fa fa-times-circle"></i>
        	</span>
		</button>
    	${messages.get(flash.error)}
	</div>
#{/if}
#{form @Administrators.saveUser(),method:'POST', class: 'form-horizontal', enctype:'multipart/form-data'} 
    #{include 'template/user/form.html', perm:permission /}
    
    <input type='hidden' name="user.uuid" value="${user.uuid}">
    
    <div class="control-group form-actions">
    	<div class="row">
        	<div class="col-md-3 mb-4">
            	#{btSubmit /}
	    	</div>
        
      		<div class="col-md-3 mb-4">
      			#{btCancel url:@Administrators.listUsers()/}
        	</div>
    	</div>
    </div>
#{/form}


#{set 'moreScripts'}
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

<script>
	$(function(){
		 $('#about').summernote({
			 airMode: true,
			 popover: {
			 	air: [
				    // [groupName, [list of button]]
				    ['style', ['bold', 'italic', 'underline', 'clear']],
				    ['fontsize', ['fontsize']],
				    ['color', ['color']],
				    ['para', ['ul', 'ol', 'paragraph']],
				  ]
			 }
		 });
	});
	
</script>
#{/set}


