#{extends 'template/layout.html' /}
#{set 'title'}
    &{'track.list'}
#{/set}

#{set 'panel-title'}
    &{'track.list'}
#{/set}
<div class="row toptoolbar">
	#{btSmallNew url:@Administrators.newTrack() /}
</div>
#{tabelaDinamica id:'tbTracks', list:tracks, chavesCabecalho:['Tipo', 'Nome', 'Etapa', 'DeadLine', 'Status']}
	#{list items:tracks, as:'t'}
		<tr>
			<td>${t.type.name}</td>
			<td>${t.name}</td>
			#{if t.order ==1}
			<td>&{'track.order.first'}</td>
			#{/if}
			#{elseif t.order ==2}
			<td>&{'track.order.second'}</td>
			#{/elseif}
			#{elseif t.order ==3}
			<td>&{'track.order.third'}</td>
			#{/elseif}
			#{else}
			<td>${track.order}º</td>
			#{/else}
			<td>
				<small>${t.start.format("dd/MM/yyyy")} - ${t.end.format("dd/MM/yyyy")}</small>
			</td>

			<td>${t.status.name}</td>
			<td class="text-center">
				#{btIconEdit url:@Administrators.editTrack(t.id)/}
			</td>
		</tr>
	#{/list}
#{/tabelaDinamica}

#{set 'moreScripts'}
		
#{/set}