#{extends 'template/layout.html' /}
#{set 'title'}
    &{'user.list'}
#{/set}

#{set 'panel-title'}
    &{'user.list'}
#{/set}

<div class="toptoolbar">
#{if flash.error}
	<div class="alert alert-danger alert-dismissible text-left" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">
            	<i class="fa fa-times-circle"></i>
        	</span>
		</button>
    	${messages.get(flash.error)}
	</div>
#{/if}
</div>

#{tabelaDinamica id:'tbUsers', list:users, chavesCabecalho:['Nome', 'E-mail', 'Celular', 'Tipo', 'Status']}
	#{list items:users, as:'u'}
		#{if u.uuid != ulogado.uuid}
		<tr>
			<td>${u.name}</td>
			<td>${u.email}</td>
			<td>${u.cel}</td>
			<td>${u.permission.name}</td>
			<td>${u.status ? 'Credenciado': 'Não Credenciado'}</td>
			<td class="text-center">
				#{btIconEdit url:@Administrators.editUser(u.uuid) /}
				#{btIconRemove url:@Administrators.removeUser(u.uuid) /}
			</td>
		</tr>
		#{/if}
	#{/list}
#{/tabelaDinamica}

#{set 'moreScripts'}
		
#{/set}