#{extends 'template/layout.html' /}
#{set 'title'}
    &{'track.list'}
#{/set}

#{set 'panel-title'}
    &{'track.list'}
#{/set}
<div class="row toptoolbar">
	#{btSmallNew url:@Administrators.newTrack() /}
</div>
#{tabelaDinamica id:'tbTracks', list:tracks, chavesCabecalho:['Tipo', 'Nome','DeadLine', 'Visibilidade', 'Status']}
	#{list items:tracks, as:'t'}
		<tr>
			<td>${t.type.name}</td>
			<td>${t.name}</td>
			<td>
				<small>${t.start.format("dd/MM/yyyy")} - ${t.end.format("dd/MM/yyyy")}</small>
			</td>
			<td>${t.privacy? 'Chamada Pública': 'Chamda Interna'}</td>
			<td>${t.status.name}</td>
			<td class="text-center">
				#{btIconEdit url:@Administrators.editTrack(t.id)/}
			</td>
		</tr>
	#{/list}
#{/tabelaDinamica}

#{set 'moreScripts'}
		
#{/set}