#{extends 'template/layout.html' /}
#{set 'title'}
    &{'event.list'}
#{/set}

#{set 'panel-title'}
    &{'event.list'}
#{/set}

#{tabelaDinamica id:'listEvent', list:events, chavesCabecalho:['Título', 'Tema', 'Abertura', 'Encerramento']}
	#{list items:events, as:'e'}
		<tr>
			<td>${e.title}</td>
			<td>${e.edition}</td>
			<td>${e.start.format('dd/MM/yyyy')}</td>
			<td>${e.end.format('dd/MM/yyyy')}</td>
			<td class="text-center">
				#{btIconEdit url:@Administrators.editEvent(event.id) /}
			</td>
		</tr>
	#{/list}
#{/tabelaDinamica}

#{set 'moreScripts'}
		
#{/set}