#{extends 'template/layout.html' /}
#{set 'title'}
    &{'activity.list'}
#{/set}

#{set 'panel-title'}
    &{'activity.list'}
#{/set}

#{tabelaDinamica id:'tbActivities', list:activities, chavesCabecalho:['Tipo', 'Nome','Responsáveis', 'Num. Inscritos', 'Status']}
	#{list items:activities, as:'a'}
		<tr>
			<td>${a.type.name}</td>
			<td>${a.title}</td>
			<td>
				#{list items:a.facilitators, as:'af'}
					<small>${af}.</small>
				#{/list}
			</td>
			<td>0</td>
			<td>${a.status.name}</td>
			<td class="text-center">
				#{btIconEdit url:@Administrators.editActivity(a.uuid) /}
			</td>
		</tr>
	#{/list}
#{/tabelaDinamica}

#{set 'moreScripts'}
		
#{/set}