#{extends 'template/layout.html' /}
#{set 'title'}
   &{'track.edit'}
#{/set}

#{set 'panel-title'}
    &{'track.edit'}
#{/set}


%{ 
	userid= session.get('userid');
	eventid= session.get('eventid');
	permission = ulogado.permission.toString();
}%


#{if flash.error}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	<span aria-hidden="true">
            	<i class="fa fa-times-circle"></i>
        	</span>
		</button>
    	${messages.get(flash.error)}
	</div>
#{/if}

#{form @Administrators.saveTrack(),method:'POST', class: 'form-horizontal', id:"newTrack", enctype:'multipart/form-data'} 
    #{include 'template/track/form.html' /}
   
    <input type='hidden' name="track.event.id" value="${track.event.id}">
    <hr/>
		<div class="smart-widget no-borders ">
			<div class="smart-widget-header no-top-padding">
				<strong>&{'track.criterias'}</strong>
				<span class="smart-widget-option">
					<span class="refresh-icon-animated" style="display: none;">
						<i class="fa fa-circle-o-notch fa-spin"></i>
					</span>
	                <a  id="configCriteria" class="widget-toggle-hidden-option">
	                	<i class="fa fa-cog"></i>
	                </a>
	            </span>
			</div>
			<div class="smart-widget-inner">
				<div class="smart-widget-hidden-section" style="display: none;">
					<div class="row">
						<div  class="col-md-6  mb-4" >
						 	<label  for="cdescription" >&{'track.criteria.description'}</label>
							<input class="form-control" id="cdescription"  type="text"  class="form-control" name="descr" placeholder="&{'track.criteria.description'}">
						</div>
						
						<div class="col-md-4  mb-4">
							<label  for="cweight" >&{'track.criteria.weight'}</label>
							<input  class="form-control" id="cweight" type="number" min="0" placeholder="&{'track.criteria.weight'}"  name="weight" value='1' class="form-control">
						</div>
						
						<div class="col-md-2 mb-4">
							<button id="btAddCriteria" class="btn btn-success marginTB-md" type="button">&{'button.add'}</button>
						</div>
					</div>
				</div>
			
				<div class="smart-widget-body mb-4">
					<table  class="table table-striped">
						<thead>
							<tr>
								<th>&{'track.criteria.description'}</th>
								<th>&{'track.criteria.weight'}</th>
								<th>&{'table.actions'}</th>
							</tr>
						</thead>
						<tbody id="tbCriterias">
							%{
								itemId = 0
							}%					
							#{list items:track.getCriterias(), as:'c'}
							<tr class="criteria">				
								<input type="hidden" name="nCriterias[${itemId}].id" value="${c.id}" />
								<input type="hidden" name="nCriterias[${itemId}].description" value="${c.description}" />
								<input type="hidden" name="nCriterias[${itemId}].weight" value="${c.weight}" />
								<td>${c.description}</td>
								<td>${c.weight ? c.weight: '1'}</td>
								<td>
									<span class="remove-list" data-id="${c.id}">
										<i class="fa fa-trash-o fa-lg"></i>
									</span>
								</td>
							</tr>
							%{
								itemId += 1
							}%					
							#{/list}
						</tbody>
					</table>
				
				</div>
			</div><!-- ./smart-widget-inner -->
		</div><!-- ./smart-widget -->

    
    
    <div class="control-group form-actions">
    	<div class="row">
        	<div class="col-md-3 mb-4">
            	#{btSave /}
	    	</div>
        
      		<div class="col-md-3 mb-4">
      			#{btCancel url:@Administrators.listTracks(track.event.id)/}
        	</div>
    	</div>
    </div>
#{/form}


#{set 'moreScripts'}

<script>
	$(function(){
		$("#submiter").on("click",function() {
			$("#cdescription").remove();
			$("#cweight").remove();
			$("#editTrack").submit();
		});
		
		$("#tbCriterias").on('click', '.remove-list', function() {
			var criteriaID = $(this).attr("data-id");
			$(this).parent().parent().remove();
		});
		
		$("#btAddCriteria").click(function() {
			var criteria = $("#cdescription").val();
			var weight = $("#cweight").val();
			var idItem = _getProximoId();
			
			if (criteria.trim().length > 0) {
				var item = '<tr class="criteria">'								
				item += '<input type="hidden" name="nCriterias['+idItem+'].id" value="" />';
				item += '<input type="hidden" name="nCriterias['+idItem+'].description" value="'+criteria+'" />';
				item += '<input type="hidden" name="nCriterias['+idItem+'].weight" value="'+weight+'" />';
				
				item += '<td>'+criteria+'</td>';
				item += '<td>'+weight+'</td>';
				item += '<td>';
				item += '	<span class="remove-list">';
				item += '		<i class="fa fa-trash-o fa-lg"></i>';
				item += '	</span>';
				item += '</td>';
				item += '</tr>';
				$("#tbCriterias").append(item);
				$("#cdescription").val("");
				$("#cweight").val(1);
			} else {
				alert("A descrição do critério é obrigatória");
			}
			
		});
		
		$("#tbCriteria").on('click', '.remove-list', function() {
			$(this).parent().remove();
		});
		
		function _getProximoId() {
			var max = -1;

			$('.criteria').each(function() {
			  max += 1;
			});
			
			return ++max;
		}
	});
	
</script>
#{/set}


